{% extends 'ecApp/base.html' %}

{% block content %}
<div class="ms-5 mt-5">
    <div class="mb-5">
        {% if request.user.is_authenticated %}
            <h1> Добро пожаловать -
                <a class=""> {{user.username}}</a> | <a class="" href="{% url 'logout' %}">Выйти</a>
            </h1>
        {% else %}
            <h1>Чтобы взаимодействовать с сайтом выполните одно из следующих действий:
                <a class="" href="{% url 'signup' %}">Регистрация</a> | <a class="" href="{% url 'login' %}">Войти</a>
            </h1>
        {% endif %}
    </div>

    <div class="d-flex">
        {% if request.user.is_authenticated %}
            <div class="pe-3 border-end border-dark">
                <div class="event-list">
                    <h2>Список всех событий:</h2>
                    <ul>
                        {% for event in all_events %}
                            <li>
                                <a class="event-link" data-event-id="{{ event.id }}" href="{% url 'event_detail' event.id %}">
                                    {{ event.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="user-event-list">
                    <h2>Список ваших событий:</h2>
                    {% if user_events %}
                        <ul>
                            {% for event in user_events %}
                                <li>
                                    <a class="event-link" data-event-id="{{ event.id }}" href="{% url 'event_detail' event.id %}">{{ event.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Вы не записались ни на одно событие.</p>
                    {% endif %}
                </div>
            </div>
            <div class="ms-3 d-flex">
                <div class="event-details pe-3 border-end border-dark"></div>
                <div class="user-details ms-3 mt-2"></div>
            </div>
        {% endif %}
    </div>
    <script>
        var csrf_token = "{{ csrf_token }}";  // Получаем CSRF-токен из контекста шаблона
    </script>
</div>
{% endblock %}
