{% extends 'ecApp/base.html' %}

{% block content %}
<div class="text-center">
    <a href="{% url 'home' %}" class="mt-3 mb-5 nav-link">Вернуться на главную</a>

    <h2 class="mb-4">Авторизация</h2>
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
            <p><label class="form-label me-1" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary bg-light text-dark">Войти</button>
    </form>
</div>
{% endblock %}